sudo: false
language: python
cache:
    directories:
        - "$HOME/.pyenv"
python:
    - "3.6"
    - "3.6-dev"
    - "3.7-dev"
    - "nightly" 

# command to install dependencies
install: 
    - "pip install -r requirements.txt"
    - "pip install mypy"
    

# command to run tests
script: 
    - python -m unittest discover 
    #- mypy --python-version 3.6 --check-untyped-defs --warn-redundant-casts --strict-optional --inferstats --no-warn-no-return completer.py completions.py db.py styling.py indexfs

# blocklist
branches: 
    only:
        - master

notifications:
    email: true
